<h2>Por capital</h2>
<hr>

<div class="row">
    <div class="col">
        <!-- componente searchbox  -->
        <shared-search-box (onValue)="searchByCapital($event)" placeHolder="Buscar por capital"></shared-search-box>
    </div>
</div>

<div class="row">
    <div class="col">
        <!-- tabla de resultados  -->
        <ul class="list-group">
            <li *ngFor="let c of countries" class="list-group-item">
                {{c.capital}} - {{c.population}}
            </li>
        </ul>
    </div>
</div>